@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
body {
    background-image: url(img/star.png);
}

span {
    background-color: lime;
    color: black;
    text-align: center;
    border: 1px solid lime;
    font-size: 30px;
    font-family: 'Space Mono', monospace;
    padding: 20px 40px;
}

span:hover {
    border: 1px solid black;
}

a {
    color: black;
}

a:hover {
    color: black;
}

a:visited {
    color: black;
}

h1 {
    text-align: center;
    color: lime;
    font-family: 'Space Mono', monospace;
    margin-top: 175px;
    font-size: 55px;
}

div {
    text-align: center;
    margin-top: 175px;
}

.difficulty {
    margin: 100px;
}

#return {
    color: white;
    font-size: 50px;
    padding: 10px 20px;
}

img {
    margin-top: 130px;
}

.was {
    margin-left: 645px;
}

.arrows {
    margin-left: 170px;
}